<div style="margin:0;padding:0" bgcolor="#fafafa" link="#9d9d9d">
    <table width="100%" cellspacing="0" cellpadding="0" bgcolor="#fafafa" style="padding-top:70px">
        <tbody>
            <tr>
                <td>
                    <table width="550" align="center" cellpadding="0" cellspacing="0" style="margin:0 auto" bgcolor="#ffffff">
                        <tbody>
                            <tr>
                                <td>
                                    <table width="550" cellpadding="0" cellspacing="0" style="width:550px!important">
                                        <tbody>
                                            <tr>
                                                <td style="min-width:550px;font-size:0;line-height:0">&nbsp;</td>
                                                <td></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr style="background-image: url(https://s3-us-west-2.amazonaws.com/helptheworld/email+pattern.png);background-position: 116% -52px;background-size: 52%;background-repeat: no-repeat;">
                                <td style="padding:32px 40px;border-bottom:1px solid #e5ebe4">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <th width="180" align="left" style="vertical-align:top;padding:0">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <a style="text-decoration:none" href="">
                                                                        <img src="https://www.eckovation.com/homed/images/f-logo.png" border="0" style="vertical-align:top;font:20px/32px Arial,Helvetica,sans-serif;color:#80c900;text-transform:uppercase;width:180px;"
                                                                            alt="yousician">
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                                <th width="20" height="20" style="padding:0;font-size:0;line-height:0">&nbsp;</th>
                                                <th width="270" align="left" style="vertical-align:middle;padding:0">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="right" style="font:14px/16px Verdana,Arial,Helvetica,sans-serif;color:#a3a3a3;letter-spacing:-1px">
                                                                    <span style="color:#5c5c5c;letter-spacing:0">Weekly report</span> Jan 15 - Jan 22
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding:36px 39px 52px;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <th width="350" align="left" style="vertical-align:top;padding:0;font:18px/23px Verdana,Arial,Helvetica,sans-serif;color:#5c5c5c">
                                                    Hi apoorvmish,
                                                    <br>
                                                    <br> here’s an overview of your CAT prepration last week.You watched
                                                    <b>7 Courses</b> and attempted
                                                    <b>9 quizzess</b>.
                                                </th>

                                                <th width="80" align="left" style="vertical-align:top;padding:0; background: #b0c4e5">
                                                    <table width="100%" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center">
                                                                    <img src="https://s3-us-west-2.amazonaws.com/helptheworld/Clock.png" style="vertical-align:top;width:45px;height:45px;padding-top:10px"
                                                                        alt="6.576923">
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="color:#1767a8;text-transform:uppercase;padding:5px 0">OO</td>
                                                            </tr>
                                                            <tr>
                                                                <td align="center" style="color:#1767a8;text-transform:uppercase;padding:5px 0">minutes</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-left: 39px;font-size: 19px; font-family: sans-serif">Markes Scores :</td>
                            </tr>

                            <tr>
                                <td style="padding:20px 46px 70px;">
                                    <table width="100%" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr style="background:#f3f4f5">
                                                <td style="padding:8px 0 18px 7px">
                                                    <table width="100%" cellpadding="0" cellspacing="0" height="101px">
                                                        <tr>
                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <div style="height: 79px;width: 79px;background-color:#b0c4e5 ; border-radius: 50%;margin: 0;text-align: center;">
                                                                            <p style="line-height: 79px;margin: 0;font-family: sans-serif">OO</p>
                                                                        </div>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left: 17px;padding-top: 8px;font-family: sans-serif">
                                                                            You
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td>
                                                                            <div style="height: 79px;width: 79px;background-color: #b0c4e5;border-radius: 50%;margin: 0;text-align: center;">
                                                                                <p style="line-height: 79px;margin: 0;">OO</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left: 17px;padding-top: 8px; font-family: sans-serif">
                                                                            Median
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td>
                                                                            <div style="height: 79px;width: 79px;background-color: #b0c4e5;border-radius: 50%;margin: 0;text-align: center;">
                                                                                <p style="line-height: 79px;margin: 0; font-family: sans-serif">OO</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left: 17px;padding-top: 8px; font-family: sans-serif">
                                                                            99%tile
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                            <td>
                                                                <table width="100%" cellpadding="0" cellspacing="0">
                                                                    <tr>
                                                                        <td>
                                                                            <div style="height: 79px;width: 79px;background-color: #b0c4e5;border-radius: 50%;margin: 0;text-align: center;" class="circle">
                                                                                <p style="line-height: 79px;margin: 0; font-family: sans-serif ">OO</p>
                                                                            </div>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td style="padding-left: 17px;padding-top: 8px; font-family: sans-serif">
                                                                            Topper
                                                                        </td>
                                                                    </tr>
                                                                </table>
                                                            </td>

                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="font:16px/21px Verdana,Arial,Helvetica,sans-serif;color:#5c5c5c">
                                                    You are Just
                                                    <b>OO</b> marks behined
                                                    <b>Topper</b>. A little more hard work can take you
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                            <tr>
                                <td style="padding-left: 39px;font-size: 16px; font-family: sans-serif;color:#5c5c5c">
                                    <img src="https://s3-us-west-2.amazonaws.com/helptheworld/Thumbs+up.png" style="height:25px;width:25px"> Keep it up!</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>


            <tr>
                <td>
                    <div style="display:none;white-space:nowrap;font:15px/1px courier">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                        &nbsp; &nbsp; &nbsp; &nbsp;</div>
                </td>
            </tr>
        </tbody>
    </table>
    <img src="" height="1" width="1" class="CToWUd">
</div>